@font-face {
    font-family: 'iconfont';  /* project id 2210364 */
    src: url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.eot');
    src: url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.woff') format('woff'),
    url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2210364_v3bt0m0ugq.svg#iconfont') format('svg');
  }
  
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  