.fs16px {
    font-size: 16px;
  }
  .fs18px {
    font-size: 18px;
  }
  .fs20px {
    font-size: 20px;
  }
  .fs22px {
    font-size: 22px;
  }
  .fs24px {
    font-size: 24px;
  }
  .fs26px {
    font-size: 26px;
  }
  .fs28px {
    font-size: 28px;
  }
  .fs30px {
    font-size: 30px;
  }
  
  